@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&family=Space+Grotesk&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

:root{
    /*color*/
    --back-color: rgb(63, 81, 125);
    --space-back-color: rgb(44, 57, 90);
    --text-color: rgb(162, 162, 162);
    --main-color: rgb(180, 188, 209);


    /*fonts*/
    --font-titule: 'Prompt', sans-serif;
    --font-text: 'Space Grotesk', sans-serif;


    /*accessibility*/
    font-size: 62.5%;
}

body{
    background-color: var(--back-color);
    color: white;
    
}

main{
    background-color: var(--main-color);
    width: 20rem;
    margin: auto;
    margin-top: 5rem;
    height: 54rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
    
}

h1{
    font-family: var(--font-titule);
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.455);

}

nav{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-family: var(--font-text);
    margin-right: 0.5rem;   
    margin-left: 0.5rem; 
    }
    
      
    #menu-bar{
    width: 2rem;
    height: 3rem;
    cursor: pointer;
    margin-top: 2.7rem;
    }
    
    .bar{
    height: 0.4em;
    width: 15%;
    background-color: white;
    box-shadow: 1px 1px  rgba(0, 0, 0, 0.123);
    display: block;
    transition: 0.3s ease;
    position: relative;
    top: -2.7rem;
    left: 0rem;
    }
    
    #bar1{ 
    transform: translateY(-4px);
        }
    
       
    .nav{
    transition: 0.3s ease;
    display: none;
    background-color: white;  
    position: relative; 
    left: 1rem;  
    border-radius: 0.8rem; 
   
    }
    
    .nav ol{
    width: 15rem;
    height: 40rem;
    padding-left: 2rem;
    padding-top: 2rem;
    }
    
    .nav li{
    padding-bottom: 1.8rem;
    font-weight: 400;
    font-size: 1.3rem;  
    text-align: justify;  
    
    }
  
          
    .change{
    display: block;
    margin-left: -2rem;  
    }
       
    
    .change .bar{
     margin-left: 2rem;
    }
    
    .change #bar1{
    transform: translateY(3px) rotateZ(-45deg);
    }
    .change #bar2 {
        transform: translateY(-1px) rotateZ(45deg);
    }
    

h2{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.455);

}

p{
    font-size: 1.5rem;
    font-family: var(--font-text);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    float: left;
    
}


.changeT {
text-align: right;
position: relative;
bottom: 26rem;
left: 28rem;
}

#play{
    text-align: center;
    font-family: var(--font-titule);
    font-size: 1.7rem;
    padding-top: 1rem;
}
#rules{
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    color: black;
}


input{

}



#img-player-turn{
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0.1rem;
    padding-left: 1rem;
}

#game{
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    left: 0.1rem;

  
}

.space{
    width: 5.5em;
    height:5.5rem;
    background-color: var(--space-back-color);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    padding-top: 1rem;
   
}

#space1{
    grid-column-start: 1;
    grid-row-start: 1;
 }
 
 #space2{
     grid-column-start: 2;
     grid-row-start: 1;
 }
 #space3{
     grid-column-start: 3;
     grid-row-start: 1;
 }
 #space4{
     grid-column-start: 1;
     grid-row-start: 2;
 }
 #space5{
     grid-column-start: 2;
     grid-row-start: 2;
 }
 #space6{
     grid-column-start: 3;
     grid-row-start: 2;
 }
 #space7{
     grid-column-start: 1;
     grid-row-start: 3;
 }
 #space8{
     grid-column-start: 2;
     grid-row-start: 3;
 }
 #space9{
     grid-column-start: 3;
     grid-row-start: 3;
 }


#result{
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.scoreboard{
    padding-bottom: 1rem;
}

 #restart{
    border-style: none;
    background-color: var(--back-color);
    color: white;
    padding: 1.5rem;
    border-radius: 5rem;
    margin-top: 8rem;
    font-family: var(--font-text);
 }












@media (min-width: 25rem){
#game{
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    right: 7%;
    margin: auto;

  
}

.space{
    width: 10rem;
    height: 10rem;
    background-color: var(--space-back-color);
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
   
}



}