@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&family=Space+Grotesk&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

:root{
    /*color*/
    --back-color: #668F80;
    --space-back-color: #4A6670;
    --text-color: rgb(162, 162, 162);
    --main-color: #668F80;
    --rules-color: #D1D5DE;
    --nav-color: rgb(50, 50, 50);
    --score-color: #D6A2AD;
    --hover-color: #C3B59F;


    /*fonts*/
    --font-titule: 'Tilt Neon', cursive;
    --font-text: 'Tilt Neon', sans-serif;


    /*accessibility*/
    font-size: 62.5%;
}

body{
    background-color: var(--back-color);
}

main{
    background-color: var(--main-color);
    width: 25rem;
    margin: auto;
    margin-top: 2rem;
    height: 64rem;
    border-radius: 1rem;
    margin-bottom: 10rem;
    font-family: var(--font-text);
    
}

h1{
    font-family: var(--font-titule);
    font-size: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.537);
    color:var(--score-color);
    margin-bottom: 2rem;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 11px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.767);
  }
  
  /*Modal Content */
  .modal-content {
    position: relative;
    top: -10rem;
    left: 5rem;
   }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    left: 22rem ;
    top: 20rem;
    font-size: 4rem;
    font-weight: bold;
    display: flex;

  
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
    
  }

.nav{
    display: block;
    position: relative; 
    left: -4rem;  
    top: 35rem;
    width: 26rem;
    background-color: var(--rules-color);
    padding-bottom: 1rem;
    color: var(--nav-color)
}

.nav ol{
    width: 23rem;
    height: 25rem;
    padding: 2rem 0rem 3rem 2.5rem;
}

.nav li{
    font-size: 1.5rem;
}


    
/*RULES*/
h2{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.455);
    font-family: var(--font-text);

}

#rule-modal{
width: 0.6rem;
height: 0.6rem;
padding: 0rem 1.2rem 2rem 0.8rem;
border-radius: 50rem;
border-color: white;
border-style:solid;
border-width:3px;
position: relative;
top: -4rem;
left: 10rem;
font-size: 2rem;
font-weight: 600;
}

/*CHANGE THEME*/
p.changeTheme{
    position: relative;
    left: -1rem; 
    top: 0rem;   
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.563);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5rem;
}

.changeT{
    position: relative;
    top: 0.5rem;
    left: 1rem;
}
    

input{
    width: 6rem;
    padding: 5px;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: -1rem; /*checkbox hide position*/
    left: 0;
    right: 0;
    bottom: -1rem; /*checkbox hide position*/
    background-color: var(--space-back-color);
    -webkit-transition: 0.4s;
    transition: 0.3s;
    text-align: right;
}
      
.slider:before { /* the slider control */
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0.5rem;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: white;
}

input:checked + .slider {
    background-color: var(--hover-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(2.5rem);
    -ms-transform: translateX(2.4rem);
    transform: translateX(2.4rem);
    background: white;
}
          
.slider {
    border-radius: 3rem;
}
        
.slider:before {
    border-radius: 50%;
}

/*PLAYER TURN*/
p{
    font-size: 2rem;
    font-family: var(--font-text);
    margin-bottom: 1rem;
    float: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.455);
    color: white;
    position: relative;
    top: 5rem;
    left: -4rem;
    
}

#img-player-turn{
    width: 3rem;
    height: 3rem;
    position: relative;
    left: -4rem;
    bottom: -5rem;
    float: none;    
    padding-left: 1rem;
}



/*GAME*/
#game{
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    left: 1rem;
    top: 3em;
    

  
}

.space{
    width: 7em;
    height:6rem;
    background-color: var(--space-back-color);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    padding-top: 1rem;
   
}

#space1{
    grid-column-start: 1;
    grid-row-start: 1;
 }
 
 #space2{
     grid-column-start: 2;
     grid-row-start: 1;
 }
 #space3{
     grid-column-start: 3;
     grid-row-start: 1;
 }
 #space4{
     grid-column-start: 1;
     grid-row-start: 2;
 }
 #space5{
     grid-column-start: 2;
     grid-row-start: 2;
 }
 #space6{
     grid-column-start: 3;
     grid-row-start: 2;
 }
 #space7{
     grid-column-start: 1;
     grid-row-start: 3;
 }
 #space8{
     grid-column-start: 2;
     grid-row-start: 3;
 }
 #space9{
     grid-column-start: 3;
     grid-row-start: 3;
 }



        
/*PLACAR SCORE*/

#placar-score{
    color: white;
    position: relative;
    top: 14rem;
    left: 6rem;
}

#result{
    left: 2rem;
    top: 17rem;
    font-size: 2rem;
    background-color: var(--score-color);
    width: 21rem;
padding: 1rem 0;
border-radius: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.455);
    position: relative;
    color: white;
    margin-bottom: 2rem;
}


.scoreboard{
    padding-right: 2rem;
}

#win{
    position: relative;
    left: -9rem;
}

#loose, #tie{
    padding-top: 2rem;
    position: relative;
    left: 2rem;
}


 #restart{
    border-style: none;
    background-color: var(--score-color);
    color: white;
    padding: 1rem;
    border-radius: 5rem;
    margin-top: 0rem;
    margin-left: 9.5rem;
    font-family: var(--font-text);
    position: relative;
    top: -9rem;
    left: -1rem;
}
 

 #restart:hover{
    background-color: var(--hover-color);
 }




/* ----------------------------------------------------------------------------------------------------------*/

@media (min-width: 38rem){

    main{
        height: 120rem;
    }
    h1{
        font-size: 6rem;
        text-align: left;
        margin-bottom: 2rem;
        margin-top: 5rem;
        width: 50rem;
    }
  
    /*modal*/

    .close{
        left: 62rem;
        top: 25rem;
        font-size: 6rem;
    }

    .nav {
        width: 55rem;
        height: 35rem;
        top: 40rem;
        left: 7rem;
        font-size: 3rem;
    }
    
    .nav li{
        font-size: 2rem;
        width: 50rem;
    }
    
    /*RULES*/
    h2{
        font-size: 4rem;
        position: relative;
        left: -20rem;
        top: 1.5rem;     
    }

    #rule-modal{
        width: 1rem;
        height: 1rem;
        padding: 0rem 1.8rem 3rem 1.2rem;
        border-width:4px;
        position: relative;
        top: -4.5rem;
        left: -1.5rem;
        font-size: 3rem;
        
        }

    /*CHANGE THEME*/
    p.changeTheme{
        position: relative;
        left: -22.5rem; 
        top: 1rem;   
        font-size: 4rem;
    }
    
    .changeT{
        position: relative;
        top: 3rem;
        left: -18rem;
    }
        
    
    
    /*PLAYER TURN*/
    p{
        font-size: 4rem;
        left: 0rem;
                
    }
    
    #img-player-turn{
        width: 4rem;
        height: 4rem;
        left: 7rem;
        bottom: -14rem;
        
    }
    
    
    
    /*GAME*/
    #game{
        width: 30rem;
        height: 30rem;
       top: 4rem;
        left: -5rem;
    }
    
    .space{
        width: 12em;
        height:12rem;
    }
    
     /*X and O images in spaces*/
    .space img{
    width: 6rem;
    height: 6rem;
    padding-top: 2rem;
    }
            
    /*PLACAR SCORE*/
    
    #placar-score{
        color: white;
        position: relative;
        top: 30rem;
        left: 4rem;
    }
    
    #result{
        left: 2rem;
        top: 37rem;
        font-size: 3rem;
        width: 25rem;
    }
    
    
    .scoreboard{
        padding-right: 2rem;
    }
    
        
    #loose, #tie, #win{
        left: 2rem;
        top: -2.5rem;
    }
    
    
     #restart{
       font-size: 3rem;
       padding: 1rem;
        top: -8rem;
        left: -5rem;
        width: 20rem;
        
    }






}




/* ----------------------------------------------------------------------------------------------------------*/
@media (min-width: 60rem){

main{
    width: 109rem;
    height: 54rem;
    margin: auto;
    
}

h1{
    font-size: 6rem;
    position: relative;
    left: 39rem;
    top: -2rem;
    margin-bottom: -1rem;
}

h2{
    position: relative;
    top: 4.7rem;
    left: 4.3rem;
    font-size:3rem;
    
}

#rule-modal{
    width: 0.6rem;
    height: 0.6rem;
    padding: 0rem 1.2rem 2rem 0.8rem;
    border-width:3.5px;
    position: relative;
    top: 0rem;
    left: 17rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    }


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.767);
  }
  
  /*Modal Content */
  .modal-content {
    position: relative;
    top: 6rem;
    left: 55rem;
   }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 13rem;
    left: 100rem;
    font-size: 4rem;
    font-weight: bold;
    display: flex
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
    
  }

.nav{
    display: block;
    position: relative; 
    left: -7rem;  
    top: 3rem;
    width: 55rem;
    height: 40rem;
    background-color: var(--rules-color);
    padding-bottom: 1rem;
    color: var(--nav-color)
}

.nav ol{
    width: 40rem;
    height: 25rem;
    padding: 3rem 1rem 3rem 4rem;
}

.nav li{
    font-size: 2rem;
    padding-bottom: 0;
    
}

/* player turn*/
p{
    position: relative;
    left: 30.5rem;
    top: -2rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--font-text);
    color: white;
    
    
}

/* image player turn*/
#img-player-turn{
    width: 3rem;
    height: 3rem;
    position: relative;
    left: 31rem;
    bottom: 1.5rem;
    float: none;    
    padding-left: 1rem;
}

/*game*/
#game{
    width: 20rem;
    height: 20rem;
    position: relative;
    top: 0rem;
    left: 8rem;
    
}

/*X and O images in spaces*/
.space img{
    width: 6rem;
    height: 6rem;
    padding-top: 1rem;
}

.space{
    width: 9rem;
    height: 9rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}


/*placar score*/

#placar-score{
    color: white;
    position: relative;
    top: -25.5rem;
    left: 89rem;
}

#result{
left: 85rem;
top: -19rem;
font-size: 2rem;
background-color: var(--score-color);
width: 27rem;
padding-top: 4rem;
border-radius: 1rem;
}


.scoreboard{
    padding-right: 2rem;
}

#win{
    position: relative;
    left: -15rem;
    
}


/*reset button*/
#restart{
position: relative;
top: -4rem;
left:34rem;
font-size: 2rem;

}

/*The slider change theme button */

p.changeTheme{
    position: relative;
    left: 3rem; 
    top: 4rem;   
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.455);
    font-size: 3rem ;
}

.changeT{
    position: relative;
    top: 5rem;
    left: 5rem;
}
    

input{
    width: 6rem;
    padding: 5px;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: -1rem; /*checkbox hide position*/
    left: 0;
    right: 0;
    bottom: -1rem; /*checkbox hide position*/
    background-color: var(--space-back-color);
    -webkit-transition: 0.4s;
    transition: 0.3s;
    text-align: right;
}
      
.slider:before { /* the slider control */
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0.5rem;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: white;
}



input:checked + .slider {
    background-color: var(--hover-color);
    
}

input:checked + .slider:before {
    -webkit-transform: translateX(2.5rem);
    -ms-transform: translateX(2.4rem);
    transform: translateX(2.4rem);
    background: white;
}
          
.slider {
    border-radius: 3rem;
}
        
.slider:before {
    border-radius: 50%;
}





}